/* Step-3 You can assign padding to all sides of a container by using the padding property. */

.content-mid {
  padding: 80px 80px 80px 80px;
 
}

.content-mid-header {
  background: #444;
  width:1000px;
  height:100px;
}

.content-container {
  width:1000px;
  height:700px;

}

.content {
  background: #D8D8D8;
  padding: 20px;
  width: 1000px;
  height:600px;
  text-align: center;
}
